* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}

.header {
  background: url("../../assets/images/desktop/image-header.jpg");
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    h1 {
      color: var(--White);
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .hamburger {
    visibility: hidden;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    cursor: pointer;
    color: var(--White);
  }

  .navbar_button {
    background: var(--White);
    padding: 1rem;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    color: var(--VeryDarkDesaturatedBlue);

    &:hover {
      background: var(--DarkBlue);
      color: var(--White);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);

  article {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;
  }

  .grid-article_2,
  .grid-article_3 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .grid-article_2 {
    background: url("../../assets/images/desktop/image-transform.jpg");
  }
  .grid-article_3 {
    background: url("../../assets/images/desktop/image-stand-out.jpg");
  }
  .grid-article_5 {
    background: url("../../assets/images/desktop/image-graphic-design.jpg");
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .grid-article_6 {
    background: url("../../assets/images/desktop/image-photography.jpg");
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    article {
      height: 100%;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      gap: 1rem;

      img {
        border-radius: 50%;
        height: 50px;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  article {
    height: 300px;
  }

  .gallery-article_1 {
    background: url("../../assets/images/desktop/image-gallery-milkbottles.jpg");
  }
  .gallery-article_2 {
    background: url("../../assets/images/desktop/image-gallery-orange.jpg");
  }
  .gallery-article_3 {
    background: url("../../assets/images/desktop/image-gallery-cone.jpg");
  }
  .gallery-article_4 {
    background: url("../../assets/images/desktop/image-gallery-sugarcubes.jpg");
  }

  .gallery-article_1,
  .gallery-article_2,
  .gallery-article_3,
  .gallery-article_4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

@media screen and (max-width: 900px) {
  .header {
    background: url("../../assets/images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
  }

  .hamburger {
    visibility: visible;
  }
  .navbar ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 50px;
    top: 50px;
    background: var(--White);
    color: var(--VeryDarkDesaturatedBlue);
    height: 200px;
    width: 80%;
    margin: auto;

    .navbar_button {
      background: var(--Yellow);
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
  }
  .testimonials div {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    grid-template-columns: 1fr;

    .gallery-article_1 {
      background: url("../../assets/images/mobile/image-gallery-milkbottles.jpg");
    }
    .gallery-article_2 {
      background: url("../../assets/images/desktop/image-gallery-orange.jpg");
    }
    .gallery-article_3 {
      background: url("../../assets/images/desktop/image-gallery-cone.jpg");
    }
    .gallery-article_4 {
      background: url("../../assets/images/desktop/image-gallery-sugarcubes.jpg");
    }

    .gallery-article_1,
    .gallery-article_2,
    .gallery-article_3,
    .gallery-article_4 {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
}
footer {
  background: var(--DarkModerateCyan);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    width: 100%;
    height: 100%;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    background: var(--DarkModerateCyan);
  }

  .footer-social {
    display: flex;
    justify-content: center;
    list-style: none;
    background: var(--DarkModerateCyan);
    gap: 3rem;
  }
}
